/*!
 * SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI) <PiaPost@helmholtz-hzi.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$light-green-palette, 800, 500);
$accent: mat.define-palette(mat.$light-blue-palette, 600, 100, 800);
$warn: mat.define-palette(mat.$red-palette, 600);
$theme: mat.define-light-theme($primary, $accent, $warn);

@mixin theme-fixes($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-button-toggle-checked {
    background-color: mat.get-color-from-palette($primary, 500);
    color: mat.get-color-from-palette($accent, default-contrast);
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: mat.get-color-from-palette(mat.$blue-grey-palette, 800);
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: mat.get-color-from-palette(mat.$blue-grey-palette, 800);
  }
}

@include mat.all-component-themes($theme);
@include theme-fixes($theme);
