version: "3.5"

x-logging: &default-logging
{% if pia_fluentd_enabled %}
{% raw %}
  driver: "fluentd"
  options:
    tag: "pia.{{.Name}}"
    fluentd-async: "true"
{% endraw %}
{% else %}
  driver: "json-file"
  options:
      max-size: "20m"
      max-file: "5"
{% endif %}

x-extra_hosts: &default-extra_hosts
  - localhost:127.0.0.1
{% for service in pia_services %}
{%   if service.variableName is defined %}
{%     if (pia_is_qpia and service.qpia) or (pia_is_ewpia and service.ewpia) or (pia_is_ipia and service.ipia) %}
# {{ service.fullName }} is reachable internally
{%     else %}
{%       if service.qpia %}
  - {{ service.fullName }}:{{ pia_qpia_ip }}
{%       endif %}
{%       if service.ewpia %}
  - {{ service.fullName }}:{{ pia_ewpia_ip }}
{%       endif %}
{%       if service.ipia %}
  - {{ service.fullName }}:{{ pia_ipia_ip }}
{%       endif %}
{%     endif %}
{%   endif %}
{% endfor %}

networks:
  pia:
    name: pia
{% if hostvars[inventory_hostname]['PIA_IS_SORMAS_ACTIVE'] is sameas true | default(pia_has_sormas) %}
  sormas:
    name: sormas
{% endif %}

volumes:
  mobileappasset-browser:
  labresult_testmhh:
  labresult_testlab2:

{% if pia_local_development %}
  qpiadb:
  ipiadb:
  ewpiadb:
  messagequeue:
{% endif %}

services:

{% if pia_is_ewpia %}
####################################################################################
# ewpia
####################################################################################
  ewpiaservice:
    image: "${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.database.ewpia:${PIA_DOCKER_TAG}"
    restart: unless-stopped
    container_name: ewpiaservice
    extra_hosts: *default-extra_hosts
    environment:
      - POSTGRES_USER=${EWPIA_USER}
      - POSTGRES_PASSWORD=${EWPIA_PASSWORD}
      - POSTGRES_DB=${EWPIA_DB}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.database.ewpia/Dockerfile
      args:
        DIR: psa.database.ewpia
{% endif %}
{% if pia_expose_postgres_ports %}
    ports:
{% if pia_local_development %}
      - "2346:5432"
{% else %}
      - "5432:5432"
{% endif %}
{% endif %}
    volumes:
      - "${SSL_DIRECTORY}/ewpiaservice:/tmp_config/ssl"
      - "${EWPIA_DATA_DIRECTORY}:/var/lib/postgresql/data"
    logging: *default-logging
    networks:
      pia:
{% endif %}

{% if pia_is_ipia %}
####################################################################################
# ipia
####################################################################################
  ipiaservice:
    image: "${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.database.ipia:${PIA_DOCKER_TAG}"
    restart: unless-stopped
    container_name: ipiaservice
    extra_hosts: *default-extra_hosts
    environment:
      - POSTGRES_USER=${IPIA_USER}
      - POSTGRES_PASSWORD=${IPIA_PASSWORD}
      - POSTGRES_DB=${IPIA_DB}
      # service users
      - DB_PERSONALDATA_USER=${DB_PERSONALDATA_USER}
      - DB_PERSONALDATA_PASSWORD=${DB_PERSONALDATA_PASSWORD}
      - DB_AUTHSERVER_USER=${DB_AUTHSERVER_USER}
      - DB_AUTHSERVER_PASSWORD=${DB_AUTHSERVER_PASSWORD}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.database.ipia/Dockerfile
      args:
        DIR: psa.database.ipia
{% endif %}
{% if pia_expose_postgres_ports %}
    ports:
{% if pia_local_development %}
      - "2345:5432"
{% elif pia_is_development_system %}
      - "5432:5432"
{% endif %}
{% endif %}
    volumes:
      - ${SSL_DIRECTORY}/ipiaservice:/tmp_config/ssl
      - "${IPIA_DATA_DIRECTORY}:/var/lib/postgresql/data"
    logging: *default-logging
    networks:
      pia:

  authserver:
    image: "${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.server.auth:${PIA_DOCKER_TAG}"
    restart: unless-stopped
    container_name: authserver
    extra_hosts: *default-extra_hosts
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=${AUTHSERVER_ADMIN_PASSWORD}

      - DB_AUTHSERVER_HOST=${DB_AUTHSERVER_HOST}
      - DB_AUTHSERVER_PORT=${DB_AUTHSERVER_PORT}
      - DB_AUTHSERVER_USER=${DB_AUTHSERVER_USER}
      - DB_AUTHSERVER_PASSWORD=${DB_AUTHSERVER_PASSWORD}
      - DB_AUTHSERVER_DB=${DB_AUTHSERVER_DB}

      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_REQUIRE_TLS=${MAIL_REQUIRE_TLS}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}

      - AUTHSERVER_PROBAND_MANAGEMENT_CLIENT_SECRET=${AUTHSERVER_PROBAND_MANAGEMENT_CLIENT_SECRET}
      - AUTHSERVER_ADMIN_MANAGEMENT_CLIENT_SECRET=${AUTHSERVER_ADMIN_MANAGEMENT_CLIENT_SECRET}
      - AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET}
      - AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET}
      - AUTHSERVER_PROBAND_TERMS_OF_SERVICE_URL=${AUTHSERVER_PROBAND_TERMS_OF_SERVICE_URL}
      - AUTHSERVER_PROBAND_POLICY_URL=${AUTHSERVER_PROBAND_POLICY_URL}

      - KK_TO_RMQ_URL=${MESSAGEQUEUE_HOST}
      - KK_TO_RMQ_PORT=${MESSAGEQUEUE_PORT}
      - KK_TO_RMQ_USERNAME=${MESSAGEQUEUE_APP_USER}
      - KK_TO_RMQ_PASSWORD=${MESSAGEQUEUE_APP_PASSWORD}
      - KK_TO_RMQ_EXCHANGE=${AUTHSERVER_MESSAGEQUEUE_EXCHANGE}
      - KK_TO_RMQ_VHOST=/

      - WEBAPP_URL
      - EXTERNAL_PROTOCOL=${EXTERNAL_PROTOCOL}
      - EXTERNAL_PORT=${EXTERNAL_PORT}
      - EXTERNAL_HOST=${EXTERNAL_HOST}
      - IS_DEVELOPMENT_SYSTEM=${IS_DEVELOPMENT_SYSTEM}
      - IS_DIRECT_ACCESS_GRANT_ENABLED=${IS_DIRECT_ACCESS_GRANT_ENABLED}
      - USER_PASSWORD_LENGTH=${USER_PASSWORD_LENGTH}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.server.auth/Dockerfile
      args:
        DIR: psa.server.auth
{% endif %}
    ports:
      - "${AUTHSERVER_PORT_EXPOSED}:4000"
    volumes:
      - ${SSL_DIRECTORY}/authserver:/certs/
    logging: *default-logging
    networks:
      pia:

  personaldataservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.service.personaldataservice:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - INTERNAL_PROTOCOL=${INTERNAL_PROTOCOL}
      - WEBAPP_URL=${WEBAPP_URL}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - DB_PERSONALDATA_HOST=${IPIASERVICE_HOST}
      - DB_PERSONALDATA_PORT=${IPIASERVICE_PORT}
      - DB_PERSONALDATA_USER=${DB_PERSONALDATA_USER}
      - DB_PERSONALDATA_PASSWORD=${DB_PERSONALDATA_PASSWORD}
      - DB_PERSONALDATA_DB=${DB_PERSONALDATA_DB}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_REQUIRE_TLS=${MAIL_REQUIRE_TLS}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
      - LOGGINGSERVICE_HOST=${LOGGINGSERVICE_HOST}
      - LOGGINGSERVICE_INTERNAL_PORT=${LOGGINGSERVICE_INTERNAL_PORT}
      - USERSERVICE_HOST=${USERSERVICE_HOST}
      - USERSERVICE_INTERNAL_PORT=${USERSERVICE_INTERNAL_PORT}
      - MESSAGEQUEUE_HOST=${MESSAGEQUEUE_HOST}
      - MESSAGEQUEUE_PORT=${MESSAGEQUEUE_PORT}
      - MESSAGEQUEUE_APP_PASSWORD=${MESSAGEQUEUE_APP_PASSWORD}
      - MESSAGEQUEUE_APP_USER=${MESSAGEQUEUE_APP_USER}
      - AUTHSERVER_PORT=${AUTHSERVER_PORT}
      - AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET}
      - AUTHSERVER_PROBAND_MANAGEMENT_CLIENT_SECRET=${AUTHSERVER_PROBAND_MANAGEMENT_CLIENT_SECRET}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.service.personaldataservice/Dockerfile
      args:
        DIR: psa.service.personaldataservice
{% endif %}
    container_name: personaldataservice
    ports:
      - "${PERSONALDATASERVICE_PORT_EXPOSED}:4000"
      - "${PERSONALDATASERVICE_INTERNAL_PORT_EXPOSED}:5000"
    volumes:
      - ${SSL_DIRECTORY}/personaldataservice:/usr/src/node-app/ssl
    logging: *default-logging
    networks:
      pia:

{% if pia_has_modysservice %}
  modysservice:
    image: "${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.service.modysservice:${PIA_DOCKER_TAG}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - INTERNAL_PROTOCOL=${INTERNAL_PROTOCOL}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - MODYS_BASE_URL=${MODYS_BASE_URL}
      - MODYS_USERNAME=${MODYS_USERNAME}
      - MODYS_PASSWORD=${MODYS_PASSWORD}
      - MODYS_STUDY=${MODYS_STUDY}
      - MODYS_IDENTIFIER_TYPE_ID=${MODYS_IDENTIFIER_TYPE_ID}
      - MODYS_REQUEST_CONCURRENCY=${MODYS_REQUEST_CONCURRENCY}
      - PERSONALDATASERVICE_HOST=${PERSONALDATASERVICE_HOST}
      - PERSONALDATASERVICE_INTERNAL_PORT=${PERSONALDATASERVICE_INTERNAL_PORT}
      - USERSERVICE_HOST=${USERSERVICE_HOST}
      - USERSERVICE_INTERNAL_PORT=${USERSERVICE_INTERNAL_PORT}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.service.modysservice/Dockerfile
      args:
        DIR: psa.service.modysservice
{% endif %}
    container_name: modysservice
    ports:
      - "${MODYSSERVICE_PORT_EXPOSED}:4000"
      - "${MODYSSERVICE_INTERNAL_PORT_EXPOSED}:5000"
    volumes:
      - ${SSL_DIRECTORY}/modysservice:/usr/src/node-app/ssl
    logging: *default-logging
    networks:
      pia:

{% endif %}

{% endif %}

{% if pia_is_qpia %}
####################################################################################
# qpia
####################################################################################
  userservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.service.userservice:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - INTERNAL_PROTOCOL=${INTERNAL_PROTOCOL}
      - WEBAPP_URL=${WEBAPP_URL}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - USER_PASSWORD_LENGTH=${USER_PASSWORD_LENGTH}
      - LOGGINGSERVICE_HOST=${LOGGINGSERVICE_HOST}
      - LOGGINGSERVICE_INTERNAL_PORT=${LOGGINGSERVICE_INTERNAL_PORT}
      - PERSONALDATASERVICE_HOST=${PERSONALDATASERVICE_HOST}
      - PERSONALDATASERVICE_INTERNAL_PORT=${PERSONALDATASERVICE_INTERNAL_PORT}
      - QPIA_HOST=${QPIA_HOST}
      - QPIA_PORT=${QPIA_PORT}
      - QPIA_USER=${QPIA_USER}
      - QPIA_PASSWORD=${QPIA_PASSWORD}
      - QPIA_DB=${QPIA_DB}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_REQUIRE_TLS=${MAIL_REQUIRE_TLS}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
      - MESSAGEQUEUE_HOST=${MESSAGEQUEUE_HOST}
      - MESSAGEQUEUE_PORT=${MESSAGEQUEUE_PORT}
      - MESSAGEQUEUE_APP_PASSWORD=${MESSAGEQUEUE_APP_PASSWORD}
      - MESSAGEQUEUE_APP_USER=${MESSAGEQUEUE_APP_USER}
      - AUTHSERVER_PORT=${AUTHSERVER_PORT}
      - AUTHSERVER_PROBAND_MANAGEMENT_CLIENT_SECRET=${AUTHSERVER_PROBAND_MANAGEMENT_CLIENT_SECRET}
      - AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET}
      - AUTHSERVER_ADMIN_MANAGEMENT_CLIENT_SECRET=${AUTHSERVER_ADMIN_MANAGEMENT_CLIENT_SECRET}
      - AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET}
      - IS_DEVELOPMENT_SYSTEM=${IS_DEVELOPMENT_SYSTEM}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.service.userservice/Dockerfile
      args:
        DIR: psa.service.userservice
{% endif %}
    container_name: userservice
    depends_on:
      - databaseservice
    ports:
      - "${USERSERVICE_PORT_EXPOSED}:4000"
      - "${USERSERVICE_INTERNAL_PORT_EXPOSED}:5000"
    volumes:
      - ${SSL_DIRECTORY}/userservice:/usr/src/node-app/ssl
    logging: *default-logging
    networks:
      pia:
{% if hostvars[inventory_hostname]['PIA_IS_SORMAS_ACTIVE'] is sameas true | default(pia_has_sormas) %}
      sormas:
{% endif %}

  questionnaireservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.service.questionnaireservice:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - INTERNAL_PROTOCOL=${INTERNAL_PROTOCOL}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - LOGGINGSERVICE_HOST=${LOGGINGSERVICE_HOST}
      - LOGGINGSERVICE_INTERNAL_PORT=${LOGGINGSERVICE_INTERNAL_PORT}
      - USERSERVICE_HOST=${USERSERVICE_HOST}
      - USERSERVICE_INTERNAL_PORT=${USERSERVICE_INTERNAL_PORT}
      - COMPLIANCESERVICE_HOST=${COMPLIANCESERVICE_HOST}
      - COMPLIANCESERVICE_INTERNAL_PORT=${COMPLIANCESERVICE_INTERNAL_PORT}
      - MESSAGEQUEUE_HOST=${MESSAGEQUEUE_HOST}
      - MESSAGEQUEUE_PORT=${MESSAGEQUEUE_PORT}
      - MESSAGEQUEUE_APP_PASSWORD=${MESSAGEQUEUE_APP_PASSWORD}
      - MESSAGEQUEUE_APP_USER=${MESSAGEQUEUE_APP_USER}
      - QPIA_HOST=${QPIA_HOST}
      - QPIA_PORT=${QPIA_PORT}
      - QPIA_USER=${QPIA_USER}
      - QPIA_PASSWORD=${QPIA_PASSWORD}
      - QPIA_DB=${QPIA_DB}
      - AUTHSERVER_PORT=${AUTHSERVER_PORT}
      - AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET}
      - AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.service.questionnaireservice/Dockerfile
      args:
        DIR: psa.service.questionnaireservice
{% endif %}
    container_name: questionnaireservice
    depends_on:
      - databaseservice
    ports:
      - "${QUESTIONNAIRESERVICE_PORT_EXPOSED}:4000"
      - "${QUESTIONNAIRESERVICE_INTERNAL_PORT_EXPOSED}:5000"
    volumes:
      - ${SSL_DIRECTORY}/questionnaireservice:/usr/src/node-app/ssl
    logging: *default-logging
    networks:
      pia:

  autheventproxy:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.server.autheventproxy:${PIA_DOCKER_TAG}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.server.autheventproxy/Dockerfile
      args:
        DIR: psa.server.autheventproxy
{% endif %}
    container_name: autheventproxy
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - MESSAGEQUEUE_HOST=${MESSAGEQUEUE_HOST}
      - MESSAGEQUEUE_PORT=${MESSAGEQUEUE_PORT}
      - MESSAGEQUEUE_APP_PASSWORD=${MESSAGEQUEUE_APP_PASSWORD}
      - MESSAGEQUEUE_APP_USER=${MESSAGEQUEUE_APP_USER}
      - AUTHSERVER_MESSAGEQUEUE_EXCHANGE=${AUTHSERVER_MESSAGEQUEUE_EXCHANGE}
    volumes:
      - ${SSL_DIRECTORY}/autheventproxy:/usr/src/node-app/ssl
    networks:
      pia:

  complianceservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.service.complianceservice:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - INTERNAL_PROTOCOL=${INTERNAL_PROTOCOL}
      - WEBAPP_URL=${WEBAPP_URL}
      - DEFAULT_LANGUAGE=${DEFAULT_LANGUAGE}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - EWPIA_HOST=${EWPIA_HOST}
      - EWPIA_PORT=${EWPIA_PORT}
      - EWPIA_USER=${EWPIA_USER}
      - EWPIA_PASSWORD=${EWPIA_PASSWORD}
      - EWPIA_DB=${EWPIA_DB}
      - USERSERVICE_HOST=${USERSERVICE_HOST}
      - USERSERVICE_INTERNAL_PORT=${USERSERVICE_INTERNAL_PORT}
      - MESSAGEQUEUE_HOST=${MESSAGEQUEUE_HOST}
      - MESSAGEQUEUE_PORT=${MESSAGEQUEUE_PORT}
      - MESSAGEQUEUE_APP_PASSWORD=${MESSAGEQUEUE_APP_PASSWORD}
      - MESSAGEQUEUE_APP_USER=${MESSAGEQUEUE_APP_USER}
      - AUTHSERVER_PORT=${AUTHSERVER_PORT}
      - AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET}
      - AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.service.complianceservice/Dockerfile
      args:
        DIR: psa.service.complianceservice
{% endif %}
    container_name: complianceservice
    ports:
      - "${COMPLIANCESERVICE_PORT_EXPOSED}:4000"
      - "${COMPLIANCESERVICE_INTERNAL_PORT_EXPOSED}:5000"
    volumes:
      - ${SSL_DIRECTORY}/complianceservice:/usr/src/node-app/ssl
    logging: *default-logging
    networks:
      pia:

  analyzerservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.service.analyzerservice:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - INTERNAL_PROTOCOL=${INTERNAL_PROTOCOL}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - QPIA_HOST=${QPIA_HOST}
      - QPIA_PORT=${QPIA_PORT}
      - QPIA_USER=${QPIA_USER}
      - QPIA_PASSWORD=${QPIA_PASSWORD}
      - QPIA_DB=${QPIA_DB}
      - MESSAGEQUEUE_HOST=${MESSAGEQUEUE_HOST}
      - MESSAGEQUEUE_PORT=${MESSAGEQUEUE_PORT}
      - MESSAGEQUEUE_APP_PASSWORD=${MESSAGEQUEUE_APP_PASSWORD}
      - MESSAGEQUEUE_APP_USER=${MESSAGEQUEUE_APP_USER}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.service.analyzerservice/Dockerfile
      args:
        DIR: psa.service.analyzerservice
{% endif %}
    container_name: analyzerservice
    depends_on:
      - databaseservice
    ports:
      - "${ANALYZERSERVICE_PORT_EXPOSED}:4000"
      - "${ANALYZERSERVICE_INTERNAL_PORT_EXPOSED}:5000"
    volumes:
      - ${SSL_DIRECTORY}/analyzerservice:/usr/src/node-app/ssl
    logging: *default-logging
    networks:
      pia:

  notificationservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.service.notificationservice:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - INTERNAL_PROTOCOL=${INTERNAL_PROTOCOL}
      - WEBAPP_URL=${WEBAPP_URL}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - PERSONALDATASERVICE_HOST=${PERSONALDATASERVICE_HOST}
      - PERSONALDATASERVICE_INTERNAL_PORT=${PERSONALDATASERVICE_INTERNAL_PORT}
      - USERSERVICE_HOST=${USERSERVICE_HOST}
      - USERSERVICE_INTERNAL_PORT=${USERSERVICE_INTERNAL_PORT}
      - QUESTIONNAIRESERVICE_HOST=${QUESTIONNAIRESERVICE_HOST}
      - QUESTIONNAIRESERVICE_INTERNAL_PORT=${QUESTIONNAIRESERVICE_INTERNAL_PORT}
      - QPIA_HOST=${QPIA_HOST}
      - QPIA_PORT=${QPIA_PORT}
      - QPIA_USER=${QPIA_USER}
      - QPIA_PASSWORD=${QPIA_PASSWORD}
      - QPIA_DB=${QPIA_DB}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_REQUIRE_TLS=${MAIL_REQUIRE_TLS}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
      - MESSAGEQUEUE_HOST=${MESSAGEQUEUE_HOST}
      - MESSAGEQUEUE_PORT=${MESSAGEQUEUE_PORT}
      - MESSAGEQUEUE_APP_PASSWORD=${MESSAGEQUEUE_APP_PASSWORD}
      - MESSAGEQUEUE_APP_USER=${MESSAGEQUEUE_APP_USER}
      - AUTHSERVER_PORT=${AUTHSERVER_PORT}
      - AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET}
      - AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.service.notificationservice/Dockerfile
      args:
        DIR: psa.service.notificationservice
{% endif %}
    container_name: notificationservice
    depends_on:
      - databaseservice
    ports:
      - "${NOTIFICATIONSERVICE_PORT_EXPOSED}:4000"
      - "${NOTIFICATIONSERVICE_INTERNAL_PORT_EXPOSED}:5000"
    volumes:
      - ${SSL_DIRECTORY}/notificationservice:/usr/src/node-app/ssl
      # there should be a credential.json
      - ${FIREBASE_DIRECTORY}:/usr/src/node-app/firebase/
    logging: *default-logging
    networks:
      pia:

  sampletrackingservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.service.sampletrackingservice:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - INTERNAL_PROTOCOL=${INTERNAL_PROTOCOL}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - QPIA_HOST=${QPIA_HOST}
      - QPIA_PORT=${QPIA_PORT}
      - QPIA_USER=${QPIA_USER}
      - QPIA_PASSWORD=${QPIA_PASSWORD}
      - QPIA_DB=${QPIA_DB}
      - WEBAPP_URL=${WEBAPP_URL}
      - MHH_FTPSERVICE_HOST
      - MHH_FTPSERVICE_PORT
      - MHH_FTPSERVICE_USER
      - MHH_FTPSERVICE_PW
      - MHH_FTPSERVICE_ALLOW_OLD_SSH2_KEX
      - HZI_FTPSERVICE_HOST
      - HZI_FTPSERVICE_PORT
      - HZI_FTPSERVICE_USER
      - HZI_FTPSERVICE_PW
      - HZI_FTPSERVICE_ALLOW_OLD_SSH2_KEX
      - COMPLIANCESERVICE_HOST=${COMPLIANCESERVICE_HOST}
      - COMPLIANCESERVICE_INTERNAL_PORT=${COMPLIANCESERVICE_INTERNAL_PORT}
      - USERSERVICE_HOST=${USERSERVICE_HOST}
      - USERSERVICE_INTERNAL_PORT=${USERSERVICE_INTERNAL_PORT}
      - AUTHSERVER_PORT=${AUTHSERVER_PORT}
      - AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_PROBAND_TOKEN_INTROSPECTION_CLIENT_SECRET}
      - AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.service.sampletrackingservice/Dockerfile
      args:
        DIR: psa.service.sampletrackingservice
{% endif %}
    container_name: sampletrackingservice
    depends_on:
      - databaseservice
    ports:
      - "${SAMPLETRACKINGSERVICE_PORT_EXPOSED}:4000"
      - "${SAMPLETRACKINGSERVICE_INTERNAL_PORT_EXPOSED}:5000"
    volumes:
      - ${SSL_DIRECTORY}/sampletrackingservice:/usr/src/node-app/ssl
    logging: *default-logging
    networks:
      pia:

  loggingservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.service.loggingservice:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - INTERNAL_PROTOCOL=${INTERNAL_PROTOCOL}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - DB_LOG_HOST=${DB_LOG_HOST}
      - DB_LOG_PORT=${DB_LOG_PORT}
      - DB_LOG_USER=${DB_LOG_USER}
      - DB_LOG_PASSWORD=${DB_LOG_PASSWORD}
      - DB_LOG_DB=${DB_LOG_DB}
      - WEBAPP_URL=${WEBAPP_URL}
      - USERSERVICE_HOST=${USERSERVICE_HOST}
      - USERSERVICE_INTERNAL_PORT=${USERSERVICE_INTERNAL_PORT}
      - AUTHSERVER_PORT=${AUTHSERVER_PORT}
      - AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET=${AUTHSERVER_ADMIN_TOKEN_INTROSPECTION_CLIENT_SECRET}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.service.loggingservice/Dockerfile
      args:
        DIR: psa.service.loggingservice
{% endif %}
    container_name: loggingservice
    depends_on:
      - databaseservice
    ports:
      - "${LOGGINGSERVICE_PORT_EXPOSED}:4000"
      - "${LOGGINGSERVICE_INTERNAL_PORT_EXPOSED}:5000"
    volumes:
      - ${SSL_DIRECTORY}/loggingservice:/usr/src/node-app/ssl
    logging: *default-logging
    networks:
      pia:

  databaseservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.database:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    volumes:
      - "${QPIA_DATA_DIRECTORY}:/var/lib/postgresql/data"
      - "${SSL_DIRECTORY}/databaseservice:/tmp_config/ssl"
    environment:
      - POSTGRES_USER=${QPIA_USER}
      - POSTGRES_PASSWORD=${QPIA_PASSWORD}
      - POSTGRES_DB=${QPIA_DB}
      # service users
      - DB_LOG_USER=${DB_LOG_USER}
      - DB_LOG_PASSWORD=${DB_LOG_PASSWORD}
      - DB_SORMAS_USER=${DB_SORMAS_USER}
      - DB_SORMAS_PASSWORD=${DB_SORMAS_PASSWORD}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.database/Dockerfile
      args:
        DIR: psa.database
{% endif %}
{% if pia_expose_postgres_ports and pia_local_development %}
    ports:
      - "5432:5432"
{% endif %}
    container_name: databaseservice
    logging: *default-logging
    networks:
      pia:

  webappserver:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.app.web:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - DEFAULT_LANGUAGE=${DEFAULT_LANGUAGE}
      - IS_DEVELOPMENT_SYSTEM=${IS_DEVELOPMENT_SYSTEM}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - WEBAPPSERVER_HTTP_PORT=${WEBAPPSERVER_HTTP_PORT}
      - WEBAPPSERVER_HTTPS_PORT=${WEBAPPSERVER_HTTPS_PORT}
      - IS_SORMAS_ENABLED=${IS_SORMAS_ENABLED}
    # command: /bin/sh -c "node --max_old_space_size=4096 /app/node_modules/@angular/cli/bin/ng build --prod; node serve_app.js"
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.app.web/Dockerfile
      args:
        DIR: psa.app.web
{% endif %}
    container_name: webappserver
    volumes:
      - ${SSL_DIRECTORY}/webappserver:/etc/ssl
      - "mobileappasset-browser:/usr/share/nginx/html/assets/browser/"
    expose:
      - "443"
    depends_on:
      - userservice
      - mobileappasset
    logging: *default-logging
    networks:
      pia:

  mobileappasset:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.app.mobile:${PIA_DOCKER_TAG}
    container_name: mobileappasset
    extra_hosts: *default-extra_hosts
    environment:
      - WEBAPP_URL=${WEBAPP_URL}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.app.mobile/Dockerfile
      args:
        DIR: psa.app.mobile
{% endif %}
    command: "sh -c 'cp -r /assets/browser/* /dest/browser/ && tail -f /dev/null'"
    volumes:
      - "mobileappasset-browser:/dest/browser/"
    logging: *default-logging

{% if pia_is_development_system %}
  # this service is ONLY for testing stages!
  # NEVER DEPLOY IT TO A PRODUCTIVE SYSTEM!
  deploymentservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.utils.deploymentservice:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - QPIA_HOST=${QPIA_HOST}
      - QPIA_PORT=${QPIA_PORT}
      - QPIA_USER=${QPIA_USER}
      - QPIA_PASSWORD=${QPIA_PASSWORD}
      - QPIA_DB=${QPIA_DB}
      - IPIA_HOST=${IPIASERVICE_HOST}
      - IPIA_PORT=${IPIASERVICE_PORT}
      - IPIA_USER=${IPIA_USER}
      - IPIA_PASSWORD=${IPIA_PASSWORD}
      - IPIA_DB=${IPIA_DB}
      - ENABLE_DB_IMPORT=${ENABLE_DB_IMPORT}
      - ENABLE_DB_EXPORT=${ENABLE_DB_EXPORT}
      - DEPLOYMENT_USER=${DEPLOYMENT_USER}
      - DEPLOYMENT_PASSWORD=${DEPLOYMENT_PASSWORD}
      - IS_DEVELOPMENT_SYSTEM=${IS_DEVELOPMENT_SYSTEM}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.utils.deploymentservice/Dockerfile
      args:
        DIR: psa.utils.deploymentservice
{% endif %}
    volumes:
      # required to modify (e.g. restart) other containers
      # ONCE AGAIN: NEVER DEPLOY IT TO A PRODUCTIVE SYSTEM!
      - /var/run/docker.sock:/var/run/docker.sock
    container_name: deploymentservice
    networks:
      pia:
    logging: *default-logging
{% endif %}

{% if hostvars[inventory_hostname]['PIA_IS_SORMAS_ACTIVE'] | default(pia_has_sormas) %}
  sormasservice:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.service.sormasservice:${PIA_DOCKER_TAG}
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - INTERNAL_PROTOCOL=${INTERNAL_PROTOCOL}
      - METRICS_IP_WHITELIST=${METRICS_IP_WHITELIST}
      - USERSERVICE_HOST=${USERSERVICE_HOST}
      - USERSERVICE_INTERNAL_PORT=${USERSERVICE_INTERNAL_PORT}
      - PERSONALDATASERVICE_HOST=${PERSONALDATASERVICE_HOST}
      - PERSONALDATASERVICE_INTERNAL_PORT=${PERSONALDATASERVICE_INTERNAL_PORT}
      - QUESTIONNAIRESERVICE_HOST=${QUESTIONNAIRESERVICE_HOST}
      - QUESTIONNAIRESERVICE_INTERNAL_PORT=${QUESTIONNAIRESERVICE_INTERNAL_PORT}
      - WEBAPP_URL=${WEBAPP_URL}
      - DEFAULT_LANGUAGE=${DEFAULT_LANGUAGE}
      - QPIA_HOST=${QPIA_HOST}
      - QPIA_PORT=${QPIA_PORT}
      - QPIA_USER=${QPIA_USER}
      - QPIA_PASSWORD=${QPIA_PASSWORD}
      - QPIA_DB=${QPIA_DB}
      - DB_SORMAS_HOST=${DB_SORMAS_HOST}
      - DB_SORMAS_PORT=${DB_SORMAS_PORT}
      - DB_SORMAS_USER=${DB_SORMAS_USER}
      - DB_SORMAS_PASSWORD=${DB_SORMAS_PASSWORD}
      - DB_SORMAS_DB=${DB_SORMAS_DB}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_REQUIRE_TLS=${MAIL_REQUIRE_TLS}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
      - SORMAS_STUDY=${SORMAS_STUDY}
      - SORMAS_SERVER_URL=${SORMAS_SERVER_URL}
      - PIA_ON_SORMAS_USER=${PIA_ON_SORMAS_USER}
      - PIA_ON_SORMAS_PASSWORD=${PIA_ON_SORMAS_PASSWORD}
      - SORMAS_ON_PIA_USER=${SORMAS_ON_PIA_USER}
      - SORMAS_ON_PIA_PASSWORD=${SORMAS_ON_PIA_PASSWORD}
      - SORMAS_ON_PIA_TOKEN_VALIDITY_TIMEOUT=${SORMAS_ON_PIA_TOKEN_VALIDITY_TIMEOUT}
      - VERBOSE=${VERBOSE}
      - MESSAGEQUEUE_HOST=${MESSAGEQUEUE_HOST}
      - MESSAGEQUEUE_PORT=${MESSAGEQUEUE_PORT}
      - MESSAGEQUEUE_APP_PASSWORD=${MESSAGEQUEUE_APP_PASSWORD}
      - MESSAGEQUEUE_APP_USER=${MESSAGEQUEUE_APP_USER}
# this is just a workaround!
# NLI should find a solution for a valid certificate setup!
{% if pia_disable_hairpinning %}
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    extra_hosts:
      - ${SORMAS_SERVER_URL}:{{ hostvars[inventory_hostname]['ansible_ssh_host'] | default(new_host_ipv4) }}
{% endif %}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.service.sormasservice/Dockerfile
      args:
        DIR: psa.service.sormasservice
{% endif %}
    container_name: sormasservice
    depends_on:
      - databaseservice
    volumes:
      # for newer Version (probably 1.7.0) the workdir will change!
      # old path:
      - ${SSL_DIRECTORY}/sormasservice:/ssl
      # new path:
      - ${SSL_DIRECTORY}/sormasservice:/usr/src/node-app/ssl
    logging: *default-logging
    networks:
      pia:
{% endif %}

  labresultssftpserver:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.server.sftpserver:${PIA_DOCKER_TAG}
    container_name: labresultssftpserver
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
{% if not pia_local_development %}
    volumes:
      - labresult_testmhh:/home/testmhh/upload
      - labresult_testlab2:/home/testlab2/upload
      - labresult_testmhh:/home/sampletrackingservice/upload/testmhh
      - labresult_testlab2:/home/sampletrackingservice/upload/testlab2
      - /root/users.conf:/etc/sftp/users.conf:ro
      - ${SSH_KEY_DIRECTORY}/sftpservice/ssh_host_ed25519_key:/etc/ssh/ssh_host_ed25519_key:ro
      - ${SSH_KEY_DIRECTORY}/sftpservice/ssh_host_rsa_key:/etc/ssh/ssh_host_rsa_key:ro
{% endif %}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.server.sftpserver/Dockerfile
      args:
        DIR: psa.server.sftpserver

    # only set the command on development machines!
    command: 'testhzi:superpass:::upload testmhh:pass:::upload'
{% endif %}
    ports:
      - "2222:22"
    networks:
      pia:
    logging: *default-logging

  apigateway:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.server.apigateway:${PIA_DOCKER_TAG}
    container_name: apigateway
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      # the SSL key/cert that is used for the external traffic
      - SSL_CERTIFICATE=/etc/ssl/api.cert
      - SSL_CERTIFICATE_KEY=/etc/ssl/api.key
      - WEBAPPSERVER_HTTP_PORT=${WEBAPPSERVER_HTTP_PORT}
      - WEBAPPSERVER_HTTPS_PORT=${WEBAPPSERVER_HTTPS_PORT}
      - USERSERVICE_PORT=${USERSERVICE_PORT}
      - QUESTIONNAIRESERVICE_PORT=${QUESTIONNAIRESERVICE_PORT}
      - NOTIFICATIONSERVICE_PORT=${NOTIFICATIONSERVICE_PORT}
      - SAMPLETRACKINGSERVICE_PORT=${SAMPLETRACKINGSERVICE_PORT}
      - PERSONALDATASERVICE_PORT=${PERSONALDATASERVICE_PORT}
      - LOGGINGSERVICE_PORT=${LOGGINGSERVICE_PORT}
      - MODYSSERVICE_PORT=${MODYSSERVICE_PORT}
      - COMPLIANCESERVICE_PORT=${COMPLIANCESERVICE_PORT}
      - ANALYZERSERVICE_PORT=${ANALYZERSERVICE_PORT}
      - SORMASSERVICE_PORT=${SORMASSERVICE_PORT}
      - DEPLOYMENTSERVICE_PORT=${DEPLOYMENTSERVICE_PORT}
      - AUTHSERVER_PORT=${AUTHSERVER_PORT}
      # the CA certificate that is used for checks against the communication to the internal services
      - SSL_CA=/etc/ssl/ca.cert
      - X_FRAME_OPTIONS=${X_FRAME_OPTIONS}
      - CONTENT_SECURITY_POLICY=${CONTENT_SECURITY_POLICY}
      # NEVER SET THIS ON ANY SYSTEM THAT COULD CONTAIN SENSITIVE DATA!
      - IS_DEVELOPMENT_SYSTEM=${IS_DEVELOPMENT_SYSTEM}
      - EXTERNAL_PROTOCOL=${EXTERNAL_PROTOCOL}
      - EXTERNAL_PORT=${EXTERNAL_PORT}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.server.apigateway/Dockerfile
      args:
        DIR: psa.server.apigateway
{% endif %}
    volumes:
      - ${SSL_DIRECTORY}/apigateway:/etc/ssl/
    ports:
{% if pia_expose_http_ports %}
      - "${EXTERNAL_PORT}:${EXTERNAL_PORT}"
{% else %}
      - "${EXTERNAL_PORT}"
{% endif %}
    networks:
      pia:
    logging: *default-logging

  messagequeue:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.server.messagequeue:${PIA_DOCKER_TAG}
    container_name: messagequeue
    # do not change this name without a reason, the stored data will be lost!
    hostname: messagequeue
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - "MESSAGEQUEUE_ADMIN_PASSWORD=${MESSAGEQUEUE_ADMIN_PASSWORD}"
      - "MESSAGEQUEUE_APP_PASSWORD=${MESSAGEQUEUE_APP_PASSWORD}"
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.server.messagequeue/Dockerfile
      args:
        DIR: psa.server.messagequeue
{% endif %}
    volumes:
      - "${MESSAGEQUEUE_DATA_DIRECTORY}:/var/lib/rabbitmq/mnesia/"
    ports:
      - "5672:5672"
    networks:
      pia:
    logging: *default-logging
{% endif %}

####################################################################################
# all hosts
####################################################################################

  metrics-reverse-proxy:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.utils.metrics:${PIA_DOCKER_TAG}
    restart: unless-stopped
    container_name: metrics-reverse-proxy
    extra_hosts: *default-extra_hosts
    environment:
      - PROTOCOL=${PROTOCOL}
      - METRICS_EXTERNAL_PROTOCOL=${METRICS_EXTERNAL_PROTOCOL}
      - METRICS_ENABLED_FOR=${METRICS_ENABLED_FOR}
      - MODYSSERVICE_PORT=${MODYSSERVICE_PORT}
      - QUESTIONNAIRESERVICE_PORT=${QUESTIONNAIRESERVICE_PORT}
      - NOTIFICATIONSERVICE_PORT=${NOTIFICATIONSERVICE_PORT}
      - COMPLIANCESERVICE_PORT=${COMPLIANCESERVICE_PORT}
      - PERSONALDATASERVICE_PORT=${PERSONALDATASERVICE_PORT}
      - SAMPLETRACKINGSERVICE_PORT=${SAMPLETRACKINGSERVICE_PORT}
      - USERSERVICE_PORT=${USERSERVICE_PORT}
      - LOGGINGSERVICE_PORT=${LOGGINGSERVICE_PORT}
      - AUTHEVENTPROXY_PORT=${AUTHEVENTPROXY_PORT}
      - AUTHSERVER_PORT=${AUTHSERVER_PORT}
{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.utils.metrics/Dockerfile
      args:
        DIR: psa.utils.metrics
{% endif %}
    ports:
      - 9000:80
    volumes:
      - ${SSL_DIRECTORY}/metricsproxy:/ssl
    networks:
      pia:
    logging: *default-logging

####################################################################################
# only for development
####################################################################################

{% if pia_local_development %}
  mailserver:
    image: ${PIA_DOCKER_REGISTRY}/${PIA_DOCKER_IMAGE_PREFIX}/psa.server.mailserver:${PIA_DOCKER_TAG}
    container_name: mailserver
    # do not change this name without a reason, the stored data will be lost!
    hostname: mailserver
    restart: unless-stopped
    extra_hosts: *default-extra_hosts

{% if pia_local_development %}
    build:
      context: "../../../"
      dockerfile: psa.server.mailserver/Dockerfile
      args:
        DIR: psa.server.mailserver
{% endif %}
    ports:
      - "8025:8025"
    networks:
      pia:
    logging: *default-logging

{% endif %}
